.wrapper-padding {
    padding: 1% 1% 1% 1%;
}
img{
    width: 100%;
    height: auto;
}
.table-img {
    width: 60px;
    height: auto;
}

/* Modal css */
@media (min-width: 1024px){
.page-wrapper .modal{
    z-index: 1051;
}
}
.modal-body {
    display: flex;
    align-items: center;
    flex-direction: column;
}
.modal-icon i {
    font-size: 80px;
    color: red;
}
.modal-title {
    font-size: 25px;
}
/* Toasts notification */
#success-notifications,
#error-notifications{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 9999;
}
.toast-header {
    display: flex;
    justify-content: space-between;
}

.toast-body{
    display: flex;
    align-items: center;
}
.toast-body img{
    width: 30px !important;
}
.sidebar-nav ul li.active{
    background-color: #fff;
}
.sidebar-nav ul li.active a span,
.sidebar-nav ul li.active a span i{
    color: #EE1C25!important;
}
.spinner-border{
    height: 1rem !important;
    width: 1rem !important;
}
#page-loader img,
#page-loader2 img{
    width: 50px !important;
}
